@font-face {
  font-family: "PT Sans";
  font-family: 400;
  src: local("PT Sans"), local("ptsans"), url("../fonts/ptsans.woff2") format ("woff2"), url("../fonts/ptsans.woff") format ("woff"):
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  backround-color: #000000;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header -------------------------------------------- */

.main-navigation {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-logo {
  position: centrer;
  vertical-align: top;
}

/* Main-------------------------------------------- */

.services {
  list-style: none;
}

.services-item {
  list-style: none;
  text-align: center;
}

.services-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.services-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: regular;
}

.advantage-blue {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.filter {
  color: #ffffff;
  background-image: url("../img/bgfilter.jpg");
  background-color: #000000;

  background-position: top center;
  background-repeat: no-repeat;
}
.filter-field
{
  font-weight: regular;
  font-size: 14px;
  line-height: 21px;}

.filter-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.find {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.sorting {
  font-weight: regular;
  font-size: 12px;
  line-height: 18px;
}

ul.sorting-list {
  list-style: none;
}
.sorting-list a {
  color: #000000;
}


.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}
.sorting-item a:hover, .sorting-item a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}
.sorting-item a:active {
  color: #000000;
}

.active a:active {
  color: #81b3d2;
}
.active a {
  color: #81b3d2;
}

.hotel h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.hotel a {
  color: #000000;
}

.catalog-category a {
  color: #000000;
}
.catalog-category a:hover {
  color: #81b3d2;
}
.catalog-category a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.raiting-points {
  font-weight: regular;
  font-size: 14px;
  line-height: 21px;
  color: #666666;}

.btn-transparent {
  font: inherit;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  vertical-align: middle;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.btn {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.btn-index {
  font-size: 21px;
  line-height: 26px;
}

.btn-hotel {
  font-size: 14px;
  line-height: 21px;
}

.btn-blue {
  background-color: #81b3d2;
}

.btn-blue:hover, .btn-blue:focus {
  background-color: #669ec0;
}

.btn-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.btn-brown {
  background-color: #766357;
}

.btn-brown:hover, .btn-brown:focus {
  background-color: #604e43;
}

.btn-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/* Footer -------------------------------------------- */

.main-footer {
  color: #000000;
  background-color: #ffffff;
}

}

.footer-hashteg {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer-social li {
  list-style: none;
}

.social-button {
  color: #000000;
}

/* Modal window -------------------------------------------- */

.appointment {
  color: #000000;
  background-color: #ffffff;
}

.appointment h2 {
  font-size: 30px;
  line-height: 36px;
}

.text-row input[type="text"], .text-row input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.text-row input[type="text"]:hover, .text-row input[type="password"]:hover {
  background-color: #ebebeb;
}

.text-row input[type="text"]:focus, .text-row input[type="password"]:focus {
  border: 2px solid #e5e5e5;
}

/* Inner -------------------------------------------- */
