body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", regular, bold;
  font-size: 60px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

@font-face {
  font-family: "PT Sans";
  font-family: 400;
  src: local("PT Sans"), local("ptsans"), url("../fonts/ptsans.woff2") format ("woff2"), url("../fonts/ptsans.woff") format ("woff"):
