@font-face {
  font-family: "PT Sans";
  font-family: 400;
  src: local("PT Sans"), local("ptsans"), url("../fonts/ptsans.woff2") format ("woff2"), url("../fonts/ptsans.woff") format ("woff"):
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  backround-color: #000000;
}

a {
  text-decoration: none;
}

/* Header -------------------------------------------- */

.main-navigation {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-logo {
  position: centrer;
  vertical-align: top;
}

/* Main-------------------------------------------- */

.services {
  list-style: none;
}

.services-item {
  list-style: none;
  text-align: center;
}

.services-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.services-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: regular;
}

.advantage-blue {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.btn {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.btn-index {
  font-size: 21px;
  line-height: 26px;
}

.btn-hotel {
  font-size: 14px;
  line-height: 21px;
}

.btn-blue {
  background-color: #81b3d2;
}

.btn-blue:hover, .btn-blue:focus {
  background-color: #669ec0;
}

.btn-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.btn-brown {
  background-color: #766357;
}

.btn-brown:hover, .btn-brown:focus {
  background-color: #604e43;
}

.btn-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/* Footer -------------------------------------------- */

.main-footer {
  color: #000000;
  background-color: #ffffff;
}

}

.footer-hashteg {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer-social li {
  list-style: none;
}

.social-button {
  color: #000000;
}

/* Modal window -------------------------------------------- */

.appointment {
  color: #000000;
  background-color: #ffffff;
}

.appointment h2 {
  font-size: 30px;
  line-height: 36px;
}

.text-row input[type="text"], .text-row input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.text-row input[type="text"]:hover, .text-row input[type="password"]:hover {
  background-color: #ebebeb;
}

.text-row input[type="text"]:focus, .text-row input[type="password"]:focus {
  border: 2px solid #e5e5e5;
}

/* Inner -------------------------------------------- */

.filter {
  color: #ffffff;
  background-color: #000000;
  background-image: url("img/bgfilter.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.filter.filter-form {
  font-size: 14px;
  line-height: 21px;
}

.filter.filter-title h2 {
  font-size: 16px;
  line-height: 21px;
}
